.metadata/
.workspace/
.codepro

.classpath
.directory
.project
.settings
bin/
gen/
doc/
local.properties
*~
.checkstyle
.DS_Store
*.log
*.swp

TopoSuite/javadoc
TopoSuite/lint.html
TopoSuite/lint_files
