*~
*.apk
*.ap_
*.class
*.dex
*.iml
*.jks
*.log
*.swp

.DS_Store
.checkstyle
.classpath
.codepro
.directory
.gradle
.idea/
.metadata/
.navigation/
.project
.settings
.workspace/

Thumbs.db
bin/
build/
captures/
doc/
gen/
gradle/
gradlew
gradlew.bat
javadoc/
libs/
local.properties
obj/
proguard/
release/
stats/
tags
workspace
