*~
*.apk
*.ap_
*.class
*.dex
*.iml
*.jks
*.log
*.swp

.checkstyle
.classpath
.codepro
.DS_Store
.directory
.gradle
.idea/
.metadata/
.navigation/
.project
.settings
.workspace/

bin/
build/
captures/
doc/
gen/
javadoc/
libs/
local.properties
obj/
proguard/
stats/
tags
Thumbs.db
workspace
