<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.hgdev.toposuite"
    android:versionCode="7"
    android:versionName="1.0.0-5688214" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:name="ch.hgdev.toposuite.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ch.hgdev.toposuite.entry.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.points.PointsManagerActivity"
            android:label="@string/title_activity_points_manager" >
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.calculation.activities.gisement.GisementActivity"
            android:label="@string/title_activity_gisement" >
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.history.HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.calculation.activities.Abriss.AbrissActivity"
            android:label="@string/title_activity_abriss" >
        </activity>
    </application>

</manifest>
