<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.hgdev.toposuite"
    android:versionCode="13"
    android:versionName="1.0.0-BETA2" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:name="ch.hgdev.toposuite.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ch.hgdev.toposuite.entry.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.points.PointsManagerActivity"
            android:label="@string/title_activity_points_manager" >
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.calculation.activities.gisement.GisementActivity"
            android:label="@string/title_activity_gisement" >
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.history.HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.calculation.activities.abriss.AbrissActivity"
            android:label="@string/title_activity_abriss" >
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.calculation.activities.levepolaire.LevePolaireActivity"
            android:label="@string/title_activity_abriss" >
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.calculation.activities.abriss.AbrissResultsActivity"
            android:label="@string/title_activity_abriss_results" >
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.calculation.activities.leveortho.LeveOrthoActivity"
            android:label="@string/title_activity_leve_ortho" >
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.calculation.activities.leveortho.LeveOrthoResultsActivity"
            android:label="@string/title_activity_leve_ortho_results" >
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.calculation.activities.cheminortho.CheminementOrthoActivity"
            android:label="@string/title_activity_cheminement_ortho" >
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.calculation.activities.cheminortho.CheminementOrthoResultsActivity"
            android:label="@string/title_activity_cheminement_ortho_results" >
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.calculation.activities.levepolaire.LevePolaireResultsActivity"
            android:label="@string/title_activity_leve_polaire_results" >
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.calculation.activities.pointproj.PointProjectionActivity"
            android:label="@string/title_activity_point_projection" >
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.calculation.activities.pointproj.PointProjectionResultActivity"
            android:label="@string/title_activity_point_projection_result" >
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.calculation.activities.polarimplantation.PolarImplantationActivity"
            android:label="@string/title_activity_polar_implantation" >
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.calculation.activities.orthoimpl.OrthogonalImplantationActivity"
            android:label="@string/title_activity_orthogonal_implantation" >
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.calculation.activities.orthoimpl.OrthoImplantationResultsActivity"
            android:label="@string/title_activity_ortho_implantation_results" >
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.calculation.activities.polarimplantation.PolarImplantationResultsActivity"
            android:label="@string/title_activity_polar_implantation_results" >
        </activity>
        <activity
            android:name="ch.hgdev.toposuite.calculation.activities.circle.CircleActivity"
            android:label="@string/title_activity_circle" >
        </activity>
    </application>

</manifest>
